{% extends 'base.html.twig' %}

{% block content %}
    <!-- Home start -->
    <div class="home">
        <div class="wrapper">
            <div class="home__info">
                <h1 class="section__link section__title text-center">
                    Список тикетов
                </h1>
            </div>
        </div>
        <table class="table table-hover text-center">
            <thead class="topic-table__header">
            <tr>
                <th scope="col">Тема</th>
                <th scope="col">Статус</th>
                <th scope="col">Автор</th>
                <th scope="col">Назначенный сотрудник</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Количество ответов</th>
            </tr>
            </thead>
            <tbody class="topic-table__content">
            {% for topic in pagination %}
            <tr>
                <td><a href="{{ path('app_topic_show', {'id': topic.id}) }}">{{ topic.title }}</a></td>
                <td><span class="text-danger">В обработке</span></td>
                <td>{{ topic.author.name }}</td>
                <td>{{ topic.author.name }}</td>
                <td>{{ topic.createdDate|date("d.m.Y H:i:s") }}</td>
                <td>{{ topic.comments.count }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation paginator__text">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    <!-- Home end -->
{% endblock %}
