<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ asset('icons/favicon.png') }}">
        <title>{% block title %}Лабораторная работа №3{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <!-- Header start -->
        <header class="header">
            <div class="wrapper">
                <div class="header__wrapper">
                    <div class="header__logo">
                        <a href="{{ path('app_home') }}" class="header__logo-link">
                            <img src="{{ asset('images/logo.png') }}" alt="Logo" class="header__logo-pic">
                        </a>
                    </div>
                    <nav class="header__nav">
                        <ul class="header__list">
                            <li class="header__item">
                                <a href="{{ path('app_about') }}" class="header__link">О сайте</a>
                            </li>
                            {% if app.user is same as(null) %}
                                <li class="header__item">
                                    <a href="{{ path('app_login') }}" class="header__link">Вход</a>
                                </li>
                                <li class="header__item">
                                    <a href="{{ path('app_register') }}" class="header__link">Регистрация</a>
                                </li>
                            {% else %}
                                <li class="header__item">
                                    <a href="{{ path('app_logout') }}" class="header__link">Выход</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- Header end -->
        <main class="main">
            {% block content %}
            {% endblock %}
        </main>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
