{% extends 'base.html.twig' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}
    <div class="topic-title text-left">{{ topic.title }} - <span class="text-danger">В обработке</span></div>
    <!-- Topic text -->
    <div class="d-flex flex-row">
        <div class="topic-text rounded shadow">
            <div>
                <span class="topic-author">{{ topic.author.name }}</span>
                <span class="topic-date">{{ topic.createdDate|date('d.m.Y H:i:s') }}</span>
            </div>
            <span class="topic-text-block">{{ topic.text|raw }}</span>
        </div>
    </div>
    <a class="ticket-file" href="{{ path('app_topic_show', {'id': topic.id}) }}">Прикреплённый файл</a>
    <div class="ticket-support text-left">Назначенный сотрудник: {{ topic.author.name }}</div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="ticket-support text-left">
            <a href="{{ path('app_topic_edit') }}" class="btn btn-primary text-white">Редактировать</a>
        </div>
    {% endif %}

    <hr class="topic-divider"/>

    {% if is_granted('ROLE_USER') %}
        <!-- Topic new comment form -->
        <div class="d-flex flex-row">
            <div class="comment-wrapper">
                {{ include('comment/new.html.twig') }}
            </div>
        </div>
    {% endif %}
    <!-- Topic comments -->
    {% for comment in pagination %}
        <div class="d-flex{% if is_granted('ROLE_USER') %}
            {% if app.user.id is same as (comment.author.id) %}
                {{ "flex-row-reverse" }}
            {% else %}
                {{ "flex-row" }}
            {% endif %}
        {% endif %}">
            <div class="topic-text-comment rounded shadow">
                <div>
                    <span class="topic-author">
                        {{ comment.author.name }}
                        {% if comment.author.id is same as(topic.author.id) %}
                            <span>*</span>
                        {% endif %}
                    </span>
                    <span class="topic-date">{{ comment.createdDate|date('d.m.Y H:i:s') }}</span>
                </div>
                <span class="topic-text-block">{{ comment.text }}</span>
            </div>
        </div>
    {% endfor %}
    <div class="navigation paginator__text">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
